body {
	background:url('../image/1.jpg') no-repeat 0px 0px;
	background-size: cover;
	background-attachment: fixed;
    background-position: center;
}
h1{
	color:red;
	font-size:50px;
	margin:50px 0px 20px 0px;
	text-align:center;
}
h2{
	color: #FFC107;
    margin:10px 0px 5px 0px;
}
.tab-item{
    text-align: center;;
}
.tab-item a{
	text-decoration: none;
	color: #b1b1b1; 
    font-size: 30px;
}
.tab-item a:active{
	color: #fff;
}
.tab-item a:hover{
	color: #fff;
}
.mid-box{
	background: rgba(0,0,0,0.6);
}

/* Dropdown Button */
.date,.hangghe{
	padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;	
}
.hangghe{
	padding: 5px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border: 2px solid #FFC107;	
}
.tuoi td p,input[type=button]{
	display: inline-block;
	padding: 8px 12px;
	font-size: 20px;
	border: 2px solid #FFC107;
}
input[type=button]:hover,input[type=submit]:hover{
	background-color:#FFC107;
	cursor: pointer;
}
input[type=submit]{
	background-color: #fff;
    color: #000;
    padding: 16px;
    font-size: 16px;
    border: 2px solid #FFC107;
    cursor: pointer;
}
input[type=checkbox]{
    cursor: pointer;
    zoom:1.5;
}
.chuyenbay{
    color: #000;
    background-color:#FFF;
    width: 100%;
    border: 2px solid #FFC107;
    margin:5px 0px;
    text-align: center;
}
.chuyenbay tr td{
    width: 20%;
    font-size: 22px;
}
#tuyen{
    color: #fff;
    font-size: 26px;
}
#thongtin{
   color: #fff;
    font-size: 20px; 
}
.xntt{
    color: #000;
    background-color: #fff;
    padding: 0px 0px 10px 7px;
    margin-bottom:20px;
    font-size: 20px;
    border: 2px solid #FFC107;
}
.xntt input{
    border: 2px solid #FFC107;
    padding: 16px;
    font-size: 14px;
}
.xntt tr td{
    vertical-align:top;
}
select{
    border: 2px solid #FFC107;
    padding: 16px;
    font-size: 22px;
    width: 33%;
}
.dangnhap{
    text-align: center;
    color: #FFC107;
    font-size: 26px;
    padding: 16px
}
.dangnhap input{
    border: 2px solid #FFC107;
    font-size: 20px;
    width: 300px;
    padding: 16px
}
.dropbtn {
    background-color: #fff;
    color: #000;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}
 
.dropbtn:hover, .dropbtn:focus {
    background-color: #f2f2f2;
}
 
.dropdown {
    position: relative;
    display: inline-block;
    color: #FFC107;
    border: 10px;
}
.dropdown input[type=text]{
 	border: 2px solid #FFC107;
 	width: 100%;
 }
.dropdown input[type=date]{
 	border: 2px solid #FFC107;
 	width: 90%;
 }
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f2f2f2;
    min-width: 450px;
    text-align: center;
    z-index: 1;
    cursor: pointer;

}
 
.sbd,.sbxp {
    color: black;
    padding: 12px 16px;
    display: inline-block;
    width: 116px;
    float: left;
}
 
td.sbd:hover  {background-color: #FFC107;}
td.sbxp:hover {background-color: #FFC107;}
 
.show {display:block;}	
label.error {
    display: block;
    color:red;
}